# Prueba Parcial 1
Curso: Programación II \
Carrera: Data Science \
Profesor: Ignacio Araya

**La prueba consiste en 8 preguntas con un puntaje máximo de 100 pts a una escala del 60%**

<hr style="height:2px;border:none;color:#333;background-color:#333;" />

Nombre Alumno: Camilo Riquelme Horta

<hr style="height:2px;border:none;color:#333;background-color:#333;" />

**1) (5 pts) Importar librerías Pandas y Numpy**

In [1]:
import pandas as pd
import numpy as np

**2) (5 pts) Lea el archivo llamado <font color='red'>Airbnb.xlsx</font> como un dataframe y asígnelo a una variable llamada <font color='red'>abnb</font>**

In [2]:
abnb = pd.read_excel("../input/data/Airbnb.xlsx")
abnb

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

**3) (10 pts) Mostrar el encabezado del dataframe**

In [3]:
abnb.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

**4) (15 pts) Cuántos vecindarios diferentes ("neighbourhood") hay en Manhattan**

In [4]:
a = abnb.groupby("neighbourhood_group")["neighbourhood"].unique()
print("Existen ", len(a["Manhattan"])," vecindarios diferentes en Manhattan. ")

Existen  32  vecindarios diferentes en Manhattan.

**5) (15 pts) Lista los diferentes vecindarios ("neighbourhood") que hay en Manhattan**

In [5]:
list = a["Manhattan"]
list

array(['Midtown', 'Harlem', 'East Harlem', 'Murray Hill',
       "Hell's Kitchen", 'Upper West Side', 'Chinatown', 'West Village',
       'Chelsea', 'Inwood', 'East Village', 'Lower East Side', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Washington Heights',
       'Financial District', 'Morningside Heights', 'NoHo',
       'Flatiron District', 'Roosevelt Island', 'Greenwich Village',
       'Little Italy', 'Two Bridges', 'Nolita', 'Gramercy',
       'Theater District', 'Tribeca', 'Battery Park City', 'Civic Center',
       'Stuyvesant Town', 'Marble Hill'], dtype=object)

**6) (15 pts) ¿Cuántas habitaciones compartidas ("Shared room") hay en la lista?**

In [6]:
abnb["room_type"].value_counts()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

Hay 1160 habitaciones compartidas en la lista.

**7) (15 pts) Encuentra todos los listados de tipo de habitación <font color='red'>Shared room</font> en <font color='red'> Manhattan</font> con un rango de precios de <font color='red'> \\$ 60 a  \\$ 75</font> y que han recibido más de <font color='red'>100 reseñas</font> ("number_of_reviews")**

In [7]:
manhattan = abnb[abnb['neighbourhood_group'] == 'Manhattan']
manhattan = manhattan[manhattan["number_of_reviews"]>100]
manhattan = manhattan[manhattan["price"]>=60]
manhattan = manhattan[manhattan["price"]<=75]
manhattan = manhattan[manhattan["room_type"]=="Shared room"]
manhattan[["room_type", "price", "number_of_reviews"]]

         room_type  price  number_of_reviews
357    Shared room     65                131
2787   Shared room     69                136
4229   Shared room     70                225
6055   Shared room     70                126
7652   Shared room     68                105
11038  Shared room     62                104
17818  Shared room     70                228
31517  Shared room     65                108
35014  Shared room     62                112

**8) (20 pts) Encuentre los valores <font color='red'>mínimo</font>, <font color='red'>máximo</font> y <font color='red'>promedio</font> para <font color ='red'>precio</font> "price" y <font color='red'> número de reseñas</font> ("number of reviews") para los listados en cada uno de los diferentes vecindarios ("neighbourhood") de Manhattan**

Media de precios por vecindario

In [8]:
manhattan1 = abnb[abnb['neighbourhood_group'] == 'Manhattan']
media_p = manhattan1.groupby("neighbourhood")["price"].mean()
min_p = manhattan1.groupby("neighbourhood")["price"].min()
max_p = manhattan1.groupby("neighbourhood")["price"].max()
p_media = pd.DataFrame(media_p)
p_media

                          price
neighbourhood
Battery Park City    367.557143
Chelsea              249.738544
Chinatown            161.497283
Civic Center         191.942308
East Harlem          133.198747
East Village         186.083108
Financial District   225.490591
Flatiron District    341.925000
Gramercy             222.754438
Greenwich Village    263.405612
Harlem               118.974041
Hell's Kitchen       204.794178
Inwood                88.896825
Kips Bay             202.408511
Little Italy         222.066116
Lower East Side      186.312843
Marble Hill           89.166667
Midtown              282.719094
Morningside Heights  114.783237
Murray Hill          220.958763
NoHo                 295.717949
Nolita               230.138340
Roosevelt Island     113.259740
SoHo                 287.103352
Stuyvesant Town      169.108108
Theater District     248.013889
Tribeca              490.638418
Two Bridges          127.069444
Upper East Side      188.948276
Upper West Side      210.918316
Washington Heights    89.610679
West Village         267.682292

Minimo de precios por vecindario

In [9]:
p_min = pd.DataFrame(min_p)
p_min

                     price
neighbourhood
Battery Park City       55
Chelsea                 12
Chinatown               41
Civic Center            50
East Harlem             30
East Village            10
Financial District      12
Flatiron District       65
Gramercy                45
Greenwich Village       43
Harlem                  10
Hell's Kitchen          10
Inwood                  22
Kips Bay                10
Little Italy            41
Lower East Side         29
Marble Hill             40
Midtown                 30
Morningside Heights     30
Murray Hill              0
NoHo                    75
Nolita                  20
Roosevelt Island        30
SoHo                    10
Stuyvesant Town         45
Theater District        40
Tribeca                 60
Two Bridges             35
Upper East Side         10
Upper West Side         10
Washington Heights      16
West Village            50

Maximo de precios por vecindario

In [10]:
p_max = pd.DataFrame(max_p)
p_max

                     price
neighbourhood
Battery Park City     7500
Chelsea               6800
Chinatown             1500
Civic Center           950
East Harlem           9999
East Village          3750
Financial District    3000
Flatiron District     2000
Gramercy              3000
Greenwich Village     6000
Harlem                5000
Hell's Kitchen        4100
Inwood                 359
Kips Bay              2750
Little Italy          5250
Lower East Side       9999
Marble Hill            274
Midtown               5100
Morningside Heights   1200
Murray Hill           2000
NoHo                  1795
Nolita                5000
Roosevelt Island      1400
SoHo                  3000
Stuyvesant Town       1500
Theater District      3000
Tribeca               8500
Two Bridges            320
Upper East Side       7703
Upper West Side      10000
Washington Heights    1000
West Village          4000

Media de reviews por vecindario

In [11]:
media_n = manhattan1.groupby("neighbourhood")["number_of_reviews"].mean()
min_n = manhattan1.groupby("neighbourhood")["number_of_reviews"].min()
max_n = manhattan1.groupby("neighbourhood")["number_of_reviews"].max()
n_media = pd.DataFrame(media_n)
n_media

                     number_of_reviews
neighbourhood
Battery Park City             8.285714
Chelsea                      21.240791
Chinatown                    27.013587
Civic Center                 12.250000
East Harlem                  32.628469
East Village                 24.106854
Financial District            9.315860
Flatiron District            17.737500
Gramercy                     22.727811
Greenwich Village            16.647959
Harlem                       28.578631
Hell's Kitchen               25.652196
Inwood                       18.611111
Kips Bay                     12.419149
Little Italy                 23.132231
Lower East Side              26.521405
Marble Hill                  14.000000
Midtown                      12.585113
Morningside Heights          13.291908
Murray Hill                   9.350515
NoHo                         12.743590
Nolita                       22.268775
Roosevelt Island             15.766234
SoHo                         20.209497
Stuyvesant Town               8.162162
Theater District             15.076389
Tribeca                      11.491525
Two Bridges                  29.569444
Upper East Side              17.622914
Upper West Side              18.294267
Washington Heights           19.088988
West Village                 19.381510

Minimo de reviews por vecindario

In [12]:
n_min = pd.DataFrame(min_n)
n_min

                     number_of_reviews
neighbourhood
Battery Park City                    0
Chelsea                              0
Chinatown                            0
Civic Center                         0
East Harlem                          0
East Village                         0
Financial District                   0
Flatiron District                    0
Gramercy                             0
Greenwich Village                    0
Harlem                               0
Hell's Kitchen                       0
Inwood                               0
Kips Bay                             0
Little Italy                         0
Lower East Side                      0
Marble Hill                          0
Midtown                              0
Morningside Heights                  0
Murray Hill                          0
NoHo                                 0
Nolita                               0
Roosevelt Island                     0
SoHo                                 0
Stuyvesant Town                      0
Theater District                     0
Tribeca                              0
Two Bridges                          0
Upper East Side                      0
Upper West Side                      0
Washington Heights                   0
West Village                         0

In [13]:
n_max = pd.DataFrame(max_n)
n_max

                     number_of_reviews
neighbourhood
Battery Park City                  205
Chelsea                            375
Chinatown                          318
Civic Center                       319
East Harlem                        325
East Village                       451
Financial District                 285
Flatiron District                  177
Gramercy                           323
Greenwich Village                  209
Harlem                             607
Hell's Kitchen                     430
Inwood                             261
Kips Bay                           276
Little Italy                       219
Lower East Side                    540
Marble Hill                         85
Midtown                            275
Morningside Heights                233
Murray Hill                        321
NoHo                               115
Nolita                             244
Roosevelt Island                   178
SoHo                               228
Stuyvesant Town                    150
Theater District                   330
Tribeca                            447
Two Bridges                        223
Upper East Side                    389
Upper West Side                    401
Washington Heights                 307
West Village                       272

# <font color='red'>Desafío!</font></h2>

Por puntos extras...

Encuentre todos los listados que tengan cualquier versión (mayúscula, minúscula, mezcla, etc.) de la siguient frases **females only** en <font color=' columna red'>name</font> del dataframe <b> abnb</b>. Mostrar solo el <b>id, name, host_name, price,</b> y <b> neighbourhood_group</b>

In [14]:
#No cambiar esta línea, de debe descomentar
pd.set_option('display.max_colwidth', None)

In [15]:
fem = abnb[["id", "name", "host_name", "price", "neighbourhood_group"]]
fem = fem.dropna()
fem1 = fem['name'].str.contains('females only', case=False)
fem[fem1]

,id,name,host_name,price,neighbourhood_group
4229,2774934,Females only for midtown apt share,Jeani,70,Manhattan
7704,5824543,Private room for 2 (10 min to city) - Females only,Qasim,80,Bronx
13418,10057854,Room in LIC - females only please,Justyna,35,Queens
14140,10853955,"Sunny, private room; Quick to NYC. Females only.",Jennifer,50,Queens
14524,11442670,Females Only Private Room JFK 1Omin,Annett And Chuck,40,Queens
15322,12274909,Beautiful spacious bedroom BayRidge FEMALES only,Carol,35,Brooklyn
15882,12847720,"Prime location, close to everything. Females only",David,50,Manhattan
16254,13100277,"Bright, inviting room-quick to NYC, females only.",Jennifer,70,Queens
20719,16425205,Room for rent (females ONLY),Chioma,40,Bronx
21813,17531493,Cute Room in Upper West Side (FEMALES ONLY),Ana,75,Manhattan
22031,17728208,Bright and Clean One Bedroom - Females Only!,Alexi,100,Manhattan
22583,18269285,Prime Midtown East Queen Bedroom-Females only,Charlotte,99,Manhattan
23326,18888585,1 bedroom in 4 BR 1 bath Apt females only,Annette,50,Brooklyn
24336,19593009,"Simple Cost-friendly Private Room, FEMALES ONLY",Amanda,29,Bronx
24634,19801310,Bedroom with Manhattan view (females only),Xinyan,60,Manhattan
24927,19979480,1 Room in Bushwick *Females only*,Brooke,32,Brooklyn
25948,20724115,*FEMALES ONLY* BEAUTIFUL ROOM in downtown NYC!,Michela,80,Manhattan
26135,20844580,"Pretty 1 bedroom apt, Williamsburg/ Females only",Michelle,55,Brooklyn
28425,22065495,Huge bedroom in a renovated apt (females only!),Eliana,65,Manhattan
29020,22328689,Private room in GREENPOINT(hosting females only),Lina,95,Brooklyn
30313,23433996,Spacious Room Close to Manhattan (Females Only),Bettina,100,Queens
31064,24105281,Clean Private room in Manhattan(females only),Aki,90,Manhattan
31095,24133060,A futon in a beautiful studio for females only,Maryam,30,Manhattan
32269,25237818,East Harlem Room Available (Females Only),Faith,50,Manhattan
38664,30378211,Shared Studio (females only),Meg,110,Manhattan
39674,30886242,Spacious and Bright bedroom (females only!),Eliana,52,Manhattan
40368,31303661,New York Safe Haven (Females Only),Melanie,39,Manhattan
42293,32822356,Manhattan Lifestyle by Melanie (Females Only),Melanie,53,Manhattan
42880,33291866,Angela's Sweet Suite (Shared-Females Only),Angela,35,Manhattan
43204,33514118,Close to city in trendy Queens! Females only,Linda,38,Queens

In [16]:
#Ejemplo....